<!-- <div class="merch-container">
  <div class="card merch-content" *ngFor="let product of product$ | async">
    <a class="card-img-top" routerLink="/merch-detail/{{product.id}}"><img [src]="product.image"
        [alt]="product.name"></a>
  </div>
</div> -->
<!-- <div class="card-body">
      <p class="card-text">{{ product.description }}
      </p>
      <strong>{{ product.price | currency }}</strong>
    </div> -->

<div class="container">
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <div class="box" *ngFor="let product of product$ | async">
    <div class="imgBox">
      <img [src]="product.image" [alt]="product.name">
    </div>
    <div class="details">
      <a routerLink="/merch-detail/{{product.id}}">
        <div class="content">
          <h5>{{ product.name }}</h5>
          <p>{{ product.price | currency }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
