<div class="form-container">
  <div class="contact-content">
    <h3>Contact us</h3>
    <div class="mb-3">

      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name">
    </div>
    <div class="mb-3">

      <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Write Something</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn-primary">SEND</button>
  </div>
</div>
