.merch-detail-container {
  display: flex;
  justify-content: center;
  min-width: 80vw;
  min-height: 100vh;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}

.merch-detail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.merch-detail-content-item {
  text-align: center;
  width: 100%;
  height: 100%;
}

.btn-color {
  background-color: #2d0e0e;
  color: white;
}
