nav {
  background-color: white;
  margin-top: 6.5rem;
}
.nav-content {
  display: flex;
}

.nav-dropdown {
  margin-right: 1rem;
}

.btn-color {
  background-color: #2d0e0e;
  color: white;
}

@media (max-width: 600px) {
  .nav-content {
    flex-direction: column;
  }

  .nav-dropdown {
    margin-bottom: 1rem;
  }
}
