<nav class="menu-nav navbar navbar-expand-lg p-3">

  <div class="nav-content container">

    <div class="dropdown nav-dropdown">
      <button class="btn btn-color dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Products
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="/admin/create-product">Create Products</a></li>
        <li><a class="dropdown-item" routerLink="/admin/product-list">Products List</a></li>
      </ul>
    </div>
    <div class="dropdown nav-dropdown">
      <button class="btn btn-color dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Orders
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="/admin/show-list">Order List</a></li>
      </ul>
    </div>
    <div class="dropdown nav-dropdown">
      <button class="btn btn-color dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Shows
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="/admin/create-show">Create Show</a></li>
        <li><a class="dropdown-item" routerLink="/admin/show-list">Show List</a></li>
      </ul>
    </div>
    <div class="mx-auto"></div>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>

</nav>
