<!-- <div class="merch-detail-container ">

  <div class="merch-detail-content">
    <div class="merch-detail-content-item imgItem">
      <img [src]="product?.image" [alt]="product?.name">
    </div>

    <div class="merch-detail-content-item contentItem">
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
      <h2>{{ product?.name }}</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sit commodi vitae sunt et facere quia
        obcaecati ex natus doloremque, dolorem voluptatem repellat veniam accusamus nihil deleniti incidunt repudiandae
        magnam.</p>

      <h4>from {{product?.price | currency }}</h4>

      <p>{{ product?.description }}</p>
      <button [disabled]="product?.stock === 0" (click)="addToCart(product)" class="btn btn-color">Add to
        cart</button>
    </div>

  </div>
</div> -->


<!-- *********************************************************** -->
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img [src]="product?.image" [alt]="product?.name" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="text-black">{{ product?.name }}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere,
          natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga
          voluptas, distinctio, aperiam, ratione dolore.</p>
        <p class="mb-4">{{ product?.description }}</p>
        <p><strong class="text-primary h4">from {{product?.price | currency }}</strong></p>
        <!-- <div class="mb-1 d-flex">
          <label for="option-sm" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm"
                name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
          </label>
          <label for="option-md" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md"
                name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
          </label>
          <label for="option-lg" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg"
                name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
          </label>
          <label for="option-xl" class="d-flex mr-3 mb-3">
            <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl"
                name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
          </label>
        </div> -->
        <!-- <div class="mb-5">
          <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" value="1" placeholder=""
              aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
            </div>
          </div>

        </div> -->
        <!-- <p><a href="cart.html" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p> -->
        <button [disabled]="product?.stock === 0" (click)="addToCart(product)" class="btn btn-color">Add to
          cart</button>

      </div>
    </div>
  </div>
</div>
