<div class="card mt-2  card-container">
  <div class=" card-header">
    Order Details
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Date: <h5>{{ order?.date }}</h5>
      </li>
      <li class="list-group-item">
        Name: <h5>{{ order?.name }}</h5>
      </li>
      <li class="list-group-item">
        City: <h5>{{ order?.city }}</h5>
      </li>
      <li class="list-group-item">
        Store: <h5>{{ order?.store }}</h5>
      </li>
      <li class="list-group-item">
        Total: <h5>{{ order?.total }}</h5>
      </li>
      <li *ngFor="let cart of order?.cart" class="list-group-item">
        <div style="padding: 2rem;">
          Name: <h5>{{ cart?.name }}</h5>
          Description: <h5>{{ cart?.description }}</h5>
          Price: <h5>{{ cart?.price }}</h5>
          Quantity: <h5>{{ cart?.qty }}</h5>
          ID: <h5>{{ cart?.id }}</h5>

        </div>
      </li>
      <!-- <li>
        <img style="width: 100px;" [src]="" [alt]="product.name">
      </li> -->
    </ul>
  </div>
  <div class="btn-group" role="group">

    <button type="button" class="btn btn-outline-danger m-1 btn-sm" (click)="onGoToDelete()">Delete</button>
  </div>

</div>

<button type="button" class="btn btn-secondary m-1" (click)="onGoBackToList()">Back to List</button>
