.menu-nav {
  background-color: #2d0e0e;
}

.logo {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.mouseHover:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.7 ease-in-out;
}
