<div class="menu">
  <nav class="menu-nav navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid ">
      <div>
        <a class="navbar-brand" routerLink="/"><img class="logo" src="./../../../assets/logo-avalon.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="merch">MERCH</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="music">MUSIC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="video">VIDEO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="shows">SHOWS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
