.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 3rem;
  margin-top: 5rem;
}

.video-card {
  margin: 2rem;
}

iframe {
  width: 70vw;
  height: 70vh;
}
