<!-- container-fluid table-responsive -->
<div class=" table-container">
  <table class="table text-light">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <!-- <th scope="col" class="d-none d-sm-block">Description</th> -->
        <!-- <th scope="col" class="d-none d-sm-block">Price</th> -->
        <th scope="col">Place</th>
        <!-- class="d-none d-sm-block"  -->
        <!-- <th scope="col">Time</th> -->
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let show of show$ | async">
        <td scope="row">{{ show?.date }}</td>
        <!-- <td class="d-none d-sm-block">{{product.description}}</td> -->
        <!-- <td class="d-none d-sm-block">{{product.price}}</td> -->
        <td>{{ show?.place }}</td>
        <!-- <td>{{ show?.time }}</td> -->
        <!-- class="btn-group d-none d-sm-block" -->
        <td role="group">
          <div class="dropdown nav-dropdown">
            <button class="btn btn-color dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><button type="submit" class="btn btn-outline-warning m-1 " (click)="onGoToEdit(show)">Edit</button>
              </li>
              <li><button type="submit" class="btn btn-outline-warning m-1 "
                  (click)="onGoToDetail(show)">Details</button></li>
              <li><button type="submit" class="btn btn-outline-danger m-1"
                  (click)="onGoToDelete(show?.id)">Delete</button></li>
            </ul>
          </div>

        </td>
      </tr>

    </tbody>
  </table>
</div>



<!-- <div class="container-fluid table-responsive table-container">
  <table class="table text-light">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
        <th scope="col">Time</th>

        <th class="d-none d-sm-block" scope="col">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let show of show$ | async">
        <td scope="row">{{ show.date | date}}</td>
        <td scope="row">{{ show.place}}</td>
        <td scope="row">{{ show.time }}</td>

        <td scope="row" class="btn-group d-none d-sm-block" role="group">
          <button type="submit" class="btn btn-outline-warning m-1" (click)="onGoToEdit(show)">Edit</button>
          <button type="submit" class="btn btn-outline-warning m-1" (click)="onGoToDetail(show)">Details</button>
          <button type="submit" class="btn btn-outline-danger m-1" (click)="onGoToDelete(show.id)">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
</div> -->
