<div class="table-container">
  <table class="table text-light">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
        <th scope="col">Time</th>
        <th scope="col">See more</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let show of show$ | async">
        <th scope="row">{{ show.date | date }}</th>
        <td>{{ show.place }}</td>
        <td>{{ show.time }}</td>
        <td><a href={{show.link}}><button class="btn btn-primary">GO</button></a></td>
      </tr>
    </tbody>
  </table>
</div>
