.music-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-items: center; */
  /* align-items: center; */
  padding: 2rem;
  min-height: 100vh;
  margin-top: 5rem;
}

.music-card {
  margin: 1rem;
  color: white;
  max-width: 440px;
  max-height: 463px;
  border: none;
}

.music-card > a {
  width: 100%;
  height: 100%;
}

.music-card:hover {
  /* cursor: pointer; */
  transform: scale(1.05);
  transition: all 0.5s ease;
}

img {
  width: 100%;
  height: 100%;

  /* filter: grayscale(50%); */
}
