<div class=" table-container">
  <table class="table text-light">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <!-- <th scope="col">Store</th>
        <th scope="col">City</th> -->
        <th scope="col">Total</th>
        <!--   -->
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders$ | async">
        <td scope="row">{{ order?.date }}</td>
        <!-- <td>{{ order?.store }}</td> -->
        <!-- <td>{{ order?.city }}</td> -->
        <td>{{ order?.total }}</td>
        <!--  -->
        <td role="group">
          <div class="dropdown nav-dropdown">
            <button class="btn btn-color dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><button type="submit" class="btn btn-outline-warning m-1 "
                  (click)="onGoToDetail(order)">Details</button>
              </li>
              <li><button type="submit" class="btn btn-outline-danger m-1"
                  (click)="onGoToDelete(order?.id)">Delete</button>
              </li>
            </ul>
          </div>

        </td>
      </tr>

    </tbody>
  </table>
</div>


<!-- <td class="btn-group d-none d-sm-block" role="group">
          <button type="submit" class="btn btn-outline-warning m-1" (click)="onGoToDetail(order)">Details</button>
          <button type="submit" class="btn btn-outline-danger m-1" (click)="onGoToDelete(order?.id)">Delete</button>
        </td> -->
