/* You can add global styles to this file, and also import other style files */

body {
  /* background-image: url(./assets/bg-dark-steel.jpg); */
  background: #000;
  background-size: cover;
  /* position: relative; */
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Staatliches", cursive;
  color: white;
}

/* body:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
} */

app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex-grow: 1;
}
