.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #2d0e0e; */
  background: black;
  height: 6rem;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

i {
  margin: 2rem;
  color: white;
}
