<div class="container-fluid table-responsive table-container">
  <table class="table text-light">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <!--   -->
        <th class="d-none d-sm-block" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of product$ | async">
        <td scope="row">{{ product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{ product.stock }}</td>
        <!--  -->
        <td class="btn-group d-none d-sm-block" role="group">
          <button type="submit" class="btn btn-outline-warning m-1" (click)="onGoToEdit(product)">Edit</button>
          <button type="submit" class="btn btn-outline-warning m-1" (click)="onGoToDetail(product)">Details</button>
          <button type="submit" class="btn btn-outline-danger m-1" (click)="onGoToDelete(product.id)">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
